PORT=3001
DB_NAME=user-manager
DB_USER=root
DB_PORT=3306
DB_HOST=localhost
JWT_ACCESS_SECRET=tu_accessojwt_aqui
JWT_REFRESH_SECRET=tu_refreshjwt_aqui
DB_PASSWORD=tu_password_aqui
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=tu_usuario_mailtrap
MAIL_PASS=tu_password_mailtrap
MAIL_FROM="Portal de Usuarios<no-reply@portaldeusuarios.com>"